name: Tests (docker)

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 0 * * 1" # once a week on monday
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.python }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python: ["3.11"]

    env:
      FORCE_COLOR: "1"
      PRE_COMMIT_COLOR: "always"

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ matrix.python }}

      - name: Upgrade pip
        run: |
          pip install -U pip
          pip --version

      - name: Install Nox
        run: |
          pip install nox
          nox --version

      - name: Run tests
        run: |
          nox --session tests-${{ matrix.python }} -- --real-caikit --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v3.1.4
        if: always()
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: coverage.xml
          fail_ci_if_error: true
